<ion-content>
  <ion-row
    class="content-login"
    align-items-center="align-items-center"
  >
    <ion-col
      size="10"
      offset="1"
    >
      <ion-card color="light">
        <h1>BIENVENIDO</h1>

        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Email</ion-label>

            <ion-input></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>

            <ion-input></ion-input>
          </ion-item>
          <br/>
          <ion-button expand="full">
            Ingrese

            <ion-icon
              slot="end"
              name="send"
            ></ion-icon>
          </ion-button>

          <br/>

          <ion-label>
            ¿Aun no se encuentra registrado?
          </ion-label>

          <ion-button>Registrese aquí</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>