.content-login {
    min-height: 100vh;
    overflow-y: auto;
    text-align: center;
    background: rgba(27,132,245,1) !important;
    background: -moz-linear-gradient(-45deg, rgba(27,132,245,1) 0%, rgba(15,101,166,1) 50%, rgba(54,96,201,1) 51%, rgba(0,131,179,1) 100%) !important;
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(27,132,245,1)), color-stop(50%, rgba(15,101,166,1)), color-stop(51%, rgba(54,96,201,1)), color-stop(100%, rgba(0,131,179,1))) !important;
    background: -webkit-linear-gradient(-45deg, rgba(27,132,245,1) 0%, rgba(15,101,166,1) 50%, rgba(54,96,201,1) 51%, rgba(0,131,179,1) 100%) !important;
    background: -o-linear-gradient(-45deg, rgba(27,132,245,1) 0%, rgba(15,101,166,1) 50%, rgba(54,96,201,1) 51%, rgba(0,131,179,1) 100%) !important;
    background: -ms-linear-gradient(-45deg, rgba(27,132,245,1) 0%, rgba(15,101,166,1) 50%, rgba(54,96,201,1) 51%, rgba(0,131,179,1) 100%) !important;
    background: linear-gradient(135deg, rgba(27,132,245,1) 0%, rgba(15,101,166,1) 50%, rgba(54,96,201,1) 51%, rgba(0,131,179,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b84f5', endColorstr='#0083b3', GradientType=1 ) !important;
}