<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Clientes registrados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item *ngFor="let cust of cres">
        <ion-label>{{ cres }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>