<ion-content>
  <ion-row
    class="content-login"
    align-items-center="align-items-center"
  >
    <ion-col
      size="10"
      offset="1"
    >
      <ion-card color="light">
        <h1>BIENVENIDO</h1>

        <ion-card-content>
          <form
            [formGroup]="registerForm"
            (ngSubmit)="onSubmit()"
          >
            <ion-item>
              <ion-label position="floating">Nombres</ion-label>

              <ion-input
                formControlName="firstname"
                required="required"
              ></ion-input>

              <div class="red-error" *ngIf="
                registerForm.controls['firstname'].invalid && 
                (registerForm.controls['firstname'].dirty || 
                registerForm.controls['firstname'].touched)">
                El campo Nombres es requerido
              </div>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Apellidos</ion-label>

              <ion-input
                formControlName="lastname"
                required="required"
              ></ion-input>

              <div class="red-error" *ngIf="
                registerForm.controls['lastname'].invalid && 
                (registerForm.controls['lastname'].dirty || 
                registerForm.controls['lastname'].touched)">
                El campo Apellidos es requerido
              </div>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Fecha de nacimiento</ion-label>

              <ion-datetime
                formControlName="birthdate"
                display-format="MMM DD, YYYY"
                [max]="maxDate"
                required="required"
              ></ion-datetime>

              <div class="red-error" *ngIf="
                registerForm.controls['birthdate'].invalid && 
                (registerForm.controls['birthdate'].dirty || 
                registerForm.controls['birthdate'].touched)">
                El campo Fecha de nacimiento es requerido
              </div>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Identificación</ion-label>

              <ion-input
                formControlName="identification"
                type="number"
                min="3"
                max="20"
                required="required"
              ></ion-input>

              <div class="red-error" *ngIf="
                registerForm.controls['identification'].invalid && 
                (registerForm.controls['identification'].dirty || 
                registerForm.controls['identification'].touched)">
                El campo Idenficación es requerido
              </div>
            </ion-item>

            <br>

            <ion-button
              [disabled]="registerForm.pristine || registerForm.invalid"
              type="submit"
              expand="full"
            >
              Registrarme

              <ion-icon
                slot="end"
                name="send"
              ></ion-icon>
            </ion-button>
          </form>
        </ion-card-content>
      </ion-card>
      
    </ion-col>
  </ion-row>
</ion-content>